<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>Booking Form HTML Template</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">

</head>

<body>
	<div id="booking" class="section">
		<div class="section-center">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="booking-cta">
							<h1>FANE AIRLINE</h1>
							<p>Plané n'est plus un luxe </p>
						</div>
					</div>
					<div class="col-md-7 col-md-offset-1">
						<div class="booking-form">
							<form [formGroup]="addForm" (ngSubmit)="onSubmit()">
								<div class="form-group">
									<div class="form-checkbox">
										<label for="roundtrip">
											<input type="radio" id="roundtrip" name="flight-type">
											<span></span>Roundtrip
										</label>
										<label for="one-way">
											<input type="radio" id="one-way" name="flight-type">
											<span></span>One way
										</label>
										<label for="multi-city">
											<input type="radio" id="multi-city" name="flight-type">
											<span></span>Multi-City
										</label>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<span class="form-label">Vill de départ</span>
                      <select class="form-control" formControlName="arrive">
                          <option  *ngFor="let arrive of arrive" [value]="arrive">{{arrive}}</option>
                        </select>
                        <span class="select-arrow"></span>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<span class="form-label">Ville d'arrivée</span>
                      <select class="form-control" formControlName="depart">
                          <option placeholder="City or airport" *ngFor="let depart of depart" [value]="depart">{{depart}}</option>
                        </select>
                        <span class="select-arrow"></span> 
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
                      <span class="form-label">Heure De Départ</span>
                      <select class="form-control" formControlName="heured">
												<option *ngFor="let heured of heured" [value]="heured">{{heured}}</option>
                    </select>
                      <span class="select-arrow"></span> 
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<span class="form-label">Heure D'Arrivée</span>
											<select class="form-control" formControlName="heurea">
												<option *ngFor="let heurea of heurea" [value]="heurea">{{heurea}}</option>
                    </select>
                      <span class="select-arrow"></span> 
										</div>
									</div> 
								</div>
								<div class="row">
									<div class="col-md-4">
										<div class="form-group">
											<span class="form-label">Adults (18+)</span>
											<select class="form-control">
													<option>0</option>
												<option>1</option>
												<option>2</option>
												<option>3</option>
											</select>
											<span class="select-arrow"></span>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<span class="form-label">Children (0-17)</span>
											<select class="form-control">
													<option>0</option>
												<option>1</option>
												<option>2</option>
												<option>3</option>
											</select>
											<span class="select-arrow"></span>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<span class="form-label">Travel class</span>
											<select class="form-control">
												<option>class Econome</option>
												<option>class Business </option>
												<option>class Prémière</option>
											</select>
											<span class="select-arrow"></span>
										</div>
									</div>
								</div>
								<div class="form-btn">
									<button class="submit-btn">Show flights</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>