@charset "UTF-8";

body {
	font-family: 'Montserrat', sans-serif;
	background: #b8e994;
	background-image:
		url("https://image.freepik.com/vecteurs-libre/avion-aeroport_18591-17059.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	overflow-x: hidden;
}

#section-head {
	width: 100%;
	height: 56px;
	background: black;
	text-align: center;
}

#section-head a {
	text-decoration: none;
	background: #182C61;
	color: whitesmoke;
	text-transform: uppercase;
	font-size: 40px;
	opacity: 0.7;
	padding: 5px
}

#section-head a:hover {
	background: #55E6C1;
	transition: 1s ease;
}

#section-head article {
	-moz-transform: scale(1.2) skew(10deg, 0deg);
	-webkit-transform: scale(1.2) skew(10deg, 0deg);
	-o-transform: scale(1.2) skew(10deg, 0deg);
	-ms-transform: scale(1.2) skew(10deg, 0deg);
	transform: scale(1.2) skew(20deg, 0deg);
}

#section-navigation {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-between;
	text-align: center;
	margin-bottom: 100px;
	margin-top: 5px;
	color: whitesmoke;
}

#section-navigation a {
	text-decoration: none;
	font-size: 25px;
	color: white;
}



.section-nav-item {
	background: #182C61;
	height: 50px;
	border-left: 5px solid #1B9CFC;
	line-height: 50px;
	transform: scale(1.2) skew(15deg, 0deg);
	width: 25%
}

.nav-anim-left {
	animation: slidein-to-left 1.2s;
}

.nav-anim-right {
	animation: slidein-to-right 1.2s;
}

.section-nav-item:hover {
	background: #55E6C1;
	padding: 2px;
	transition: 1s ease;
}

.legende {
	width: 80%;
	height: 100px;
	line-height: 100px;
	font-size: 40px;
	text-transform: uppercase;
	text-align: center;
	background: #2C3A47;
	color: whitesmoke;
	border: 5px solid #182C61;
	transform: scale(1.2) skew(15deg, 0deg);
	margin: 0 auto;
}

.legende p {
	animation: slidein-to-top 1.2s;
}


#section-corps {
	width: 100%;
	height: auto;
	margin: 100px 0 0 0; 
	display : flex;
	justify-content: space-around;
}



#data-table {
	border: 2px solid black;
	background: black;
	opacity: 0.9;
	width: 70%;
	height: 300px;
	overflow: auto;
	padding: 30px;
	width: 75%;
}



#forme-vol{
	border: 2px solid black;
	height: 300px;
	background: black;
	opacity: 0.9;
	overflow: auto;
	width: 20%;
	padding-top: 20px
}



form div {
	display: flex;
	flex-direction: column;
	width: 50%;
	margin: 0 auto;
}

form label {
	color: white;
	font-size: 20px
}

#myBtn {
	color: white !important;
	border: 1px solid #b8e994 !important;
}

#myBtn:hover {
	border: 1px solid #6a89cc !important;
	background: #6a89cc !important;
	transition: 1s ease !important;
}

th, td {
	width: 50px;
	height: 50px;
	border: 2px solid black;
	line-height: 50px;
}

thead {
	background: #58B19F;
	color: darkblue;
	font-weight: bold!important;
}



table {
	background: whitesmoke;
	width: 100%;
	text-align: center;
	border: 5px solid black !important;
}


table a{
	text-decoration: none!important;
	color: whitesmoke;
}


table a:hover{
color: white!important;
}



@keyframes slidein-to-left {
	from { margin-left:-1000%;
	width: 100%;
}

75%
{
font-size
:
 
100%;
margin-left
:
 
-25%;
width
:
 
150%;
}
to {
	margin-left: -0%;
	width: 100%;
}

}






@keyframes slidein-to-right {
	from { margin-right:-1000%;
	width: 100%;
}

75%
{
font-size
:
 
100%;
margin-right
:
 
-25%;
width
:
 
150%;
}
to {
	margin-right: -0%;
	width: 100%;
}

}





@keyframes slidein-to-top {
	from { margin-top:-1000%;
	width: 100%;
}

75%
{
font-size
:
 
100%;
margin-top
:
 
-25%;
width
:
 
150%;
}
to {
	margin-top: -0%;
	width: 100%;
}

}


@media screen and (min-width: 200px) and (max-width: 800px)
{
.myitems {
	text-align: center;
	font-size: 20px !important;
	background: #b8e994;
	border: 2px solid #b8e994;
	width: 23% !important
}
}