<div class="container">
    <div class="row spacer">
        <div class="col">
            <form class="form-inline my-2 my-lg-0">
                <label style="margin:5px;">Mot clé :</label>
                <input class="form-control mr-sm-2" type="text">
                <button type="submit" class="btn btn-outline-info my-2 my-sm-0"> <span
                        class="glyphicon glyphicon-search"></span> Chercher</button>
            </form>
        </div>
    </div>
    <hr>

    <div class="row spacer" *ngIf="articles" >
        <div class="col" >
            <div  class="card text-center" *ngFor="let article of articles._embedded.articles">


                <div class="card-body">
                    <button>
                        <a href="#"><img class="card-img-top" src="assets/home-image/moi.jpg" alt=""></a>
                        <h5 class="card-title"></h5>
                        <div class="row">
                            
                            <div class="">
                                <h4>DVD</h4>
                                <h5> {{article.price}}€</h5>
                            </div>
                            <div class="col-4 padding-0">
                                <button class="btn btn-info">Add To Cart
                                </button>
                            </div>

                        </div>

                    </button>
                </div>
            </div>

        </div>