<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>FORM</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="css/style.css">
	
</head>
<body>

	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6 md-offset-3">
			<div class="card shadow p-3 mb-5 bg-white rounded">
				<div>
					<div class="card-header">Saisie d'un etudiant</div>
					<div class="card-body">
						<form th:action="@{SaveEtudiant}" method="post"
							th:object="${personne}">
							<!-- 							<div class="form-group"> -->
							<!-- 								<label class="col-form-label">ID:</label> <input type="text" -->
							<!-- 									class="form-control" th:field="*{id}"> <span></span> -->
							<!-- 							</div> -->

							<div class="form-group">
								<label class="col-form-label">Prenom:</label> <input type="text"
									class="form-control" th:field="*{prenom}"> <span></span>
							</div>

							<div class="form-group">
								<label class="col-form-label">Nom:</label> <input type="text"
									class="form-control" th:field="*{nom}"> <span></span>
							</div>

							<div class="form-group">
								<label class="col-form-label">Age:</label> <input type="text"
									class="form-control" th:field="*{age}"> <span></span>
							</div>

							<div class="form-group">
								<label class="col-form-label">Version:</label> <input
									type="text" class="form-control" th:field="*{version}">
								<span></span>
							</div>

							<div>
								<button type="submit" class="btn btn-primary">SAVE</button><br>
								<a th:href="@{index}">Je veux revenir a la page d'accueil</a>
							</div>
							
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>


</body>
</html>