<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #4a99d1;">
    <a id="VideoFutur" class="navbar-brand" href="http://localhost:4200/accueil">VideoFutur</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="http://localhost:4200/accueil">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Genres
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Amour</a>
            <a class="dropdown-item" href="#">Dessins Animés</a>
            <a class="dropdown-item" href="#">Horreur</a>
            <a class="dropdown-item" href="#">Humour</a>
            <a class="dropdown-item" href="#">Séries</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:4200/login" tabindex="0">Se Connecter</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Rechercher un film" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Submit</button>
      </form>
    </div>
</nav>

<form id="formlog">
    <div class="form-group">
      <label>USER ID</label>
      <input type="text" class="form-control" placeholder="Votre ID" name="adminid" [(ngModel)]="adminid">
      <small class="form-text text-muted">Si vous êtes un administrateur ne partagez jamais votre identifiant.</small>
    </div>
    <div class="form-group">
    <label>Password</label>
      <input type="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="password">
    </div>
    <button type="submit" class="btn btn-primary" value="Login" (click)="LoginAdmin()">Submit</button>
</form>
<br>