@charset "UTF-8";

body {
	font-family: 'Montserrat', sans-serif;
	background: white;
	background-image:
		url("https://images.unsplash.com/photo-1543365245-f5d7fb934b46?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80");
	overflow-x: hidden;
}

#section-head {
	width: 100%;
	height: 100px;
	background: #f4f2d8;
	text-align: center;
}

#section-head a {
	text-decoration: none;
	text-shadow: 1px -1px 0 black, -1px 2px 1px black, -2px 4px 1px black,
		-3px 6px 1px black, -4px 8px 1px black, -5px 10px 1px black;
	color: whitesmoke;
	text-transform: uppercase;
	font-size: 40px;
	opacity: 0.8;
	padding: 5px;
	line-height: 100px;
}

#section-head a:hover {
	background: #0a3d62;
	transition: 1s ease;
}

.legende {
	width: 80%;
	height: 100px;
	line-height: 100px;
	font-size: 40px;
	text-transform: uppercase;
	text-align: center;
	background: #2C3A47;
	color: whitesmoke;
	border: 5px solid #182C61;
	margin: 0 auto;
}

#section-corps {
	width: 100%;
	height: auto;
	margin-top: 200px;
}

#forme-vol {
	border: 2px solid black;
	margin: 0 auto;
	height: 300px;
	background: black;
	opacity: 0.9;
	overflow: auto;
	width: 50%;
	padding-top: 50px;
	animation: slidein-to-top 1s ease-in;
}

form div {
	display: flex;
	flex-direction: column;
	width: 40%;
	margin: 0 auto;
}

form label {
	color: white;
	font-size: 20px;
}

div:first-child{
	margin-bottom: 20px;
}

#myBtn {
	color: white !important;
	border: 1px solid #b8e994 !important;
}

#myBtn:hover {
	border: 1px solid #6a89cc !important;
	background: #6a89cc !important;
	transition: 1s ease !important;
}



@keyframes slidein-to-top {
	from { margin-top:-100%;
}

75%{
margin-top:-50%;
width: 10%;
}

to {
	margin-top: -0%;
}

}



@media screen and (min-width: 200px) and (max-width: 800px) {
}