/* Home Carousel css
============================================================================================ */

.container {
  text-align: center;
} 

.container img{
  width: 100%;
  height: 500px;
}


.main_slider_area #main_slider ul li .slider_text_box .secand_text {
    font-family: "Poppins", sans-serif;
    font-weight: 600 !important;
    color: #000;
  }
  
  .main_slider_area #main_slider ul li .slider_text_box .third_btn .checkout_btn {
    padding: 0px 40px !important;
    line-height: 48px !important;
    -webkit-transition: all 300ms linear !important;
    -o-transition: all 300ms linear !important;
    transition: all 300ms linear !important;
  }
  
  .main_slider_area #fullwidth_slider ul li .slider_text_box .first_text {
    font-weight: 600 !important;
    font-family: "Poppins", sans-serif;
    color: #000;
  }
  
  .main_slider_area #fullwidth_slider ul li .slider_text_box .secand_text {
    font-weight: 600 !important;
    font-family: "Poppins", sans-serif;
    color: #012f45;
    text-transform: uppercase;
  }
  
  .main_slider_area #fullwidth_slider ul li .slider_text_box .third_text {
    color: #666666;
    font-family: "Poppins", sans-serif;
    font-weight: normal !important;
  }
  
  .main_slider_area #fullwidth_slider ul li .slider_text_box .four_btn .checkout_btn {
    padding: 0px 40px !important;
    line-height: 48px !important;
    -webkit-transition: all 300ms linear !important;
    -o-transition: all 300ms linear !important;
    transition: all 300ms linear !important;
  }
  
  .main_slider_area #home_box_slider ul li .slider_text_box .first_text {
    font-weight: 600 !important;
    font-family: "Poppins", sans-serif;
    color: #000;
  }
  
  .main_slider_area #home_box_slider ul li .slider_text_box .secand_text {
    color: #666666;
    font-family: "Poppins", sans-serif;
    font-weight: normal !important;
  }
  
  .main_slider_area #home_box_slider ul li .slider_text_box .third_btn .checkout_btn {
    padding: 0px 40px !important;
    line-height: 48px !important;
    -webkit-transition: all 300ms linear !important;
    -o-transition: all 300ms linear !important;
    transition: all 300ms linear !important;
    background: #000000;
    color: #fff;
    border-color: #000;
  }
  
  .main_slider_area #home_box_slider ul li .slider_text_box .third_btn .checkout_btn:hover {
    background: #d91522;
    border-color: #d91522;
  }
  