
<div class="cont">
    <div class="card" >
            <div class="card-header">
                    {{cust?.name}}
            </div>
            <div class="card-body">
             
              <p class="card-text">Login : {{cust?.login}}</p>
              <p class="card-text">Password : {{cust?.password}}</p>
              <br>
              <a class="btn btn-danger" (click)="deleteCust(cust?.id)" >Delete Customer</a>



              
              <a class="btn btn-primary" routerLink="/admin-view">Return</a><br>
              </div>
          </div>
    </div>