<form action="" class="needs-validation" novalidate>
  <div class="">editer
    <div class="form-group">
      <label for="validationTooltip01">N° Vol</label>
      <input type="text" class="form-control" id="validationTooltip01" placeholder="N° Vol" [(ngModel)]="modelVol.noVol" name="noVol" required>
    </div>
    <div class="form-group">
        <label for="validationTooltip01">N° Avion</label>
        <input type="text" class="form-control" id="validationTooltip01" placeholder="N° Avion" [(ngModel)]="modelVol.avion_id" name="avion_id" required>
      </div>
      <div class="form-group">
          <label for="validationTooltip01">Id pilote</label>
          <input type="text" class="form-control" id="validationTooltip01" placeholder="Id Pilote" [(ngModel)]="modelVol.pilote_id" name="pilote_id" required>
        </div>
    <div class="form-group">
      <label for="validationTooltip01">Heure de Départ</label>
      <input type="date" class="form-control" id="validationTooltip01" placeholder="H départ" [(ngModel)]="modelVol.heureDepart" name="heureDepart" required>
    </div>
    <div class="form-group">
      <label for="validationTooltip01">Heure d'arrivée</label>
      <input type="date" class="form-control" id="validationTooltip01" placeholder="H Arrivée" [(ngModel)]="modelVol.heureArrivee"name="heureArrivee" required>
    </div>

    <div class="form-group">
        <label for="validationTooltip01">Site de départ</label>
        <input type="text" class="form-control" id="validationTooltip01" placeholder="Site Départ" [(ngModel)]="modelVol.siteDepart" name="siteDepart" required>
      </div>
      <div class="form-group">
          <label for="validationTooltip01">Site d'arrivée</label>
          <input type="text" class="form-control" id="validationTooltip01" placeholder="Site Arrivée" [(ngModel)]="modelVol.siteArrivee" name="siteArrivee" required>
        </div>
  </div>

  <button type="submit" class="btn btn-primary btn-lg btn-block"style="background-color: #85c1e9;" (click)="ajouterVol()">Envoyer</button>

</form>