<div class="spacer">

    <form class="form-inline my-2 my-lg-0" #f="ngForm" (ngSubmit)="onChercher(f.value)">
        <label style="margin:5px;">Mot clé :</label>
        <input (keyup)="onChercherInput($event)" class="form-control mr-sm-2" type="text" name="motCle" ngModel>
        <button type="submit" class="btn btn-outline-info my-2 my-sm-0"> <span class="glyphicon glyphicon-search"></span> Vols</button>
    </form>
    <table class="table table-bordered table-hover spacer">
      <thead class="table-info">
        <tr role="row">
      <th>Nom de Pilote</th>
       <th>Id</th> 
       <th>Id Vol</th>
       <th>Site</th> 
       <th></th>
       <th></th>
    </tr>

  </thead>
  <tbody style="background: #d7f1f5;" *ngIf="pilotes">
      <tr role="row" class="odd" *ngFor="let p of pilotes._embedded.pilotes">
          <td>{{p.nom}}</td>
          <td>{{p.id}}</td>
          <td>{{p.vol_id}}</td>
          <td>{{p.site}}</td>
          <td><button type="button" (click)="onUpdate(p)" class="btn btn-outline-primary">Editer</button>
          <td><button type="button" (click)="onDelete(p)" class="btn btn-outline-danger">Supprimer</button>
          </td>
      </tr>
      
    </tbody>
</table>
<ul class="nav nav-pills">
  <li [ngClass]="i==currentPage?'bg-info':''" class="nav-link table-bordered" *ngFor="let p of pages; let i=index" (click)="onPagePilotes(i)">
    {{i}}
  </li>
</ul>
