<!DOCTYPE HTML>
	<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta name="viewport" content="width=device-width, initial-scalle=1"/>
		
		<style>
			body {
	  			background-color: green;
			      }
		</style>
		
	  <title>PHARMACIE</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/app.css}"/>
      <link rel="stylesheet" type="text/css" th:href="@{/css/css/bootstrap.css}"/>
	
	</head>

	<body>
		
	
		<div class="forme">
		 	<h1 class="display-1">P H A R M A C I E</h1>
		 	 <form action="hello" method="get">
	 		
      			<a class="mag" th:href="@{/Liste}">Commander</a>  
     		 </form>
		</div>

	  
      
      
     
	  <link rel="stylesheet" th:href="@{css/js/bootstrap.min.js}"/>	
	</body>
</html>