<div class="container" *ngIf="editer==1">
  <h1 class="display-4">Editer article </h1>

        <form #f="ngForm" (ngSubmit)="onSubmit(f)" *ngIf="article">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                          <label>Id Article</label>
                          <input  type="text" class="form-control" name="id" [(ngModel)]="article.id">
                        </div>
                      </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Nom Article</label>
                      <input  type="text" class="form-control" name="name" [(ngModel)]="article.name">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label >Description</label>
                      <input  type="text" class="form-control" name="description" [(ngModel)]="article.description">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label >Prix</label>
                      <input  type="text" class="form-control ngModel" name="prix" [(ngModel)]="article.prix">
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <label >Quantity</label>
                      <input type="text" class="form-control" name="quantity" [(ngModel)]="article.quantity">
                    </div>
                  </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label >Photo Url</label>
                          <input  type="text" class="form-control" name="photo" [(ngModel)]="article.photo">
                        </div>
                      </div>

                  <div class="col-md-6 text-center">
                    <div class="form-group">
                      <label>Diponible</label>
                      <select name="disponible" class="form-control" [(ngModel)]="article.disponible">
                        <option value="">Small select</option>
                        <option value="true">True</option>
                        <option value="false">False</option>
                      </select>
                    </div>
                  </div>
                    <div class="col-md-6 text-center">
                      <div class="form-group">
                        <label>Categories</label>
                        <select  *ngIf="categories" class="form-control"  name="idCategory" ngModel>
                          <option value="">select</option>
                          <option *ngFor="let c of categories.content;"   value="{{c.id}}">{{c.name}}</option>
                        </select>
                      </div>
                    </div>

                   <div class="col-md-12 text-center">
                    <button type="submit" style="width: 200px;" class="btn btn-l btn-primary"> Enoyer</button>
                  </div>
                </div>
                <!-- /.row-->
              </form>
</div>


<div *ngIf="editer==2" class="container">

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Détail de l'article </h1>
      <div class="form-group">
        <label>Id</label>
        <p class="lead">{{article.id}}</p>
      </div>
      <div class="form-group">
        <label>Nom</label>
        <p class="lead" >{{article.name}}</p>
      </div>
      <div class="form-group">
        <label>Description</label>
        <p class="lead" >{{article.description}}</p>
      </div>
      <div class="form-group">
        <label>Prix</label>
        <p class="lead">{{article.prix}}</p>
      </div>
      <div class="form-group">
        <label>Quantity</label>
        <p class="lead">{{article.quantity}}</p>
      </div>
      <div class="form-group">
        <label>Url Photo</label>
        <p class="lead">{{article.photo}}</p>
      </div>
    </div>
    <div class="form-group">
      <label>Disponible</label>
      <p class="lead">{{article.disponible}}</p>
    </div>
  </div>
  <div>

  </div>

    <div class="col-md-6 text-center">
      <div class="form-group">
        <label for="file">Choisir File</label>
        <p>
          <input type="file"
                 id="file"
                 (change)="fileUpload($event)">
          <button class="btn btn-outline-success" (click)="savePhoto(article.id)">Upload</button><br>
          {{progress}}
        </p>
      </div>
    </div>
    <div class="col-md-12 text-center">
      <button type="submit" style="width: 200px;" class="btn btn-l btn-primary" [routerLink]="['/admin-console']" > Admin console </button>
    </div>
</div>
