<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>
<title>Ajouter</title>
</head>
<body>

	<div class="p-3 mb-2 bg-dark text-white"><h3>Modifier une ligne</h3></div>
	<thead class="thead-dark">
	
<form action="http://localhost:8080/index">
  <div class="form-row align-items-center">
   
   <div class="col-auto">
      <label class="sr-only" for="inlineFormInputGroup">id</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">id</div>
        </div>
        <input type="text" class="form-control" id="id" placeholder="id">
      </div>
    </div>
    <div class="col-auto">
      <label class="sr-only" for="inlineFormInputGroup">nom</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">nom</div>
        </div>
        <input type="text" class="form-control" id="nom" placeholder="nom">
      </div>
    </div>
    <div class="col-auto">
      <label class="sr-only" for="inlineFormInputGroup">prenom</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">prenom</div>
        </div>
        <input type="text" class="form-control" id="prenom" placeholder="prenom">
      </div>
    </div>
    <div class="col-auto">
      <label class="sr-only" for="inlineFormInputGroup">dateNaissance</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">dateNaissance</div>
        </div>
        <input type="text" class="form-control" id="dateNaissance" placeholder="dateNaissance">
      </div>
    </div>
    <div class="col-auto">
      <label class="sr-only" for="inlineFormInputGroup">marie</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">marie</div>
        </div>
        <input type="text" class="form-control" id="marie" placeholder="marie">
      </div>
    </div>
    <div class="col-auto">
      <label class="sr-only" for="inlineFormInputGroup">nbEnfants</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">nbEnfants</div>
        </div>
        <input type="text" class="form-control" id="nbEnfants" placeholder="nbEnfants">
      </div>
    </div>
    <div class="col-auto">
      <label class="sr-only" for="inlineFormInputGroup">version</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">version</div>
        </div>
        <input type="text" class="form-control" id="version" placeholder="version">
      </div>
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-2">ADD</button>
    </div>
  </div>
</form>

</body>
</html>