<div class="admin-produit">


<mat-grid-list class="grid-list-item" cols = "3" gutterSize="6px">
  <mat-grid-tile-header>
    <h2 style="text-align: center; padding-top: 20px;">Gestion des produits</h2>
  </mat-grid-tile-header>
  <mat-grid-tile class="myCol"  [colspan] = "1.4">
    <app-produit></app-produit>
  </mat-grid-tile>
  <mat-grid-tile class="myTable" [colspan] = "1.6">
    <app-produits></app-produits>
  </mat-grid-tile>
</mat-grid-list>


</div>
<!--

<div class="jumbtron spacer">
  <h1 class="text-md-left">Gestion des produits</h1>
  <hr>
  <div class="row">
    <div class="col-md-5">
      <app-produit></app-produit>
    </div>
    <div class="col-md-7">
      <app-produits></app-produits>
    </div>
  </div>
</div>
-->
