<div class="container">
  
  <form action="">
   <div class="block_one">
     <p>Log as Admin</p>
    <div><label for="">Login<input type="text" name="username" [(ngModel)]="username"></label></div>
    <div><label for="">Password<input type="password" name="password" [(ngModel)]="password"></label></div>
    <div><button type="submit" (click)="LogInUser()">OK</button></div>
     </div>
</form>
<br>

  <div class="block_two">
      <form action="">
          <div class="block_one">
              
            <p>Log as a customer</p>
            <div *ngIf="validMessage != ''">
                <p class="has-info">{{validMessage}}</p>
              </div>
           <div><label for="">Login<input type="text" name="clogin" [(ngModel)]="clogin"></label></div>
           <div><label for="">Password<input type="password" name="cpassword" [(ngModel)]="cpassword"></label></div>
           <div><button type="submit" (click)="checkLogPw(clogin, cpassword)">OK</button></div>
             </div>
       </form>
<a href="/customercreation">Create an acount</a>
  </div>
</div>