/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
body{
    height: 3000px;
}
h1{
    font-family: 'Bitter';
    text-shadow: 2px 2px #286090;
    color: #a4a4a4;
}
