<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<title>Insert title here</title>
</head>
<body>

<form action="http://localhost:8080/index">
  <div class="container">
<h1>Ajouter un nouveau Person</h1>

<br/><br/>
<label for="id"><b>id</b></label>
    <input type="text" placeholder="Enter id" name="id" id="id" required>
    

 <label for="nom"><b>nom</b></label>
    <input type="text" placeholder="Enter nom" name="nom" id="nom" required>
    	
    <label for="preNom"><b>preNom</b></label>
    <input type="text" placeholder="Enter preNom" name="preNom" id="preNom" required>
    
    <label for="dateNaissance"><b>dateNaissance</b></label>
    <input type="text" placeholder="Enter dateNaissance" name="dateNaissance" id="dateNaissance" required>
    
    <label for="marie"><b>marie</b></label>
    <input type="text" placeholder="Enter marie" name="marie" id="marie" required>
    
    <label for="nbEnfants"><b>nbEnfants</b></label>
    <input type="text" placeholder="Enter nbEnfants" name="nbEnfants" id="nbEnfants" required>
    
     <label for=" version"><b> version</b></label>
    <input type="text" placeholder="Enter version" name="version" id="version" required>
    
    
<div>
  
   <button type="submit" class="btn btn-success">Ajouter</button>
</div>


 </div>
</form>

</body>
</html>