<div class="container" *ngIf="save==1">

  <form  #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Nom Article</label>
          <input type="text" class="form-control" name="name" ngModel>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Description</label>
          <input type="text" class="form-control" name="description" ngModel>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Prix</label>
          <input type="text" class="form-control ngModel" name="prix" ngModel>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Quantity</label>
          <input type="text" class="form-control" name="quantity" ngModel>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label>Nom Categorie</label>
          <input type="text" class="form-control" name="nomCategory" ngModel>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Photo Url</label>
          <input type="text" class="form-control" name="photo" ngModel>
        </div>
      </div>
      <div class="col-md-12 text-center">
        <div class="form-group">
          <label>Diponible</label>
          <select name="disponible" class="form-control form-control-sm" ngModel>
            <option value="">Small select</option>
            <option value="true">True</option>
            <option value="false">False</option>
          </select>
        </div>
      </div>
      <div class="col-md-12 text-center">
        <button type="submit" style="width: 200px;" class="btn btn-l btn-primary"> Enoyer</button>
      </div>
    </div>
    <!-- /.row-->
  </form>

</div>


<div *ngIf="save==2" class="container">

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Détail de l'article </h1>
      <div class="form-group">
        <label>Id</label>
        <p class="lead">{{currentArticle.idArticle}}</p>
      </div>
      <div class="form-group">
        <label>Nom</label>
        <p class="lead" >{{currentArticle.name}}</p>
      </div>
      <div class="form-group">
        <label>Description</label>
        <p class="lead" >{{currentArticle.description}}</p>
      </div>
      <div class="form-group">
        <label>Prix</label>
        <p class="lead">{{currentArticle.prix}}</p>
      </div>
      <div class="form-group">
        <label>Quantity</label>
        <p class="lead">{{currentArticle.quantity}}</p>
      </div>
      <div class="form-group">
        <label>Url Photo</label>
        <p class="lead">{{currentArticle.photo}}</p>
      </div>
    </div>
    <div class="form-group">
      <label>Disponible</label>
      <p class="lead">{{currentArticle.disponible}}</p>
    </div>
  </div>
<div>

</div>


    <div class="col-md-6 text-center">
      <div class="form-group">
        <label for="file">Choisir File</label>
        <p>
        <input type="file"
               id="file"
               (change)="fileUpload($event)">
        <button class="btn btn-outline-success" (click)="savPhoto(currentArticle.idArticle)">Upload</button><br>
          {{progress}}
        </p>
      </div>
    </div>
    <div class="col-md-12 text-center">
      <button type="submit" style="width: 200px;" class="btn btn-l btn-primary"> Enoyer</button>
    </div>
</div>

