<!DOCTYPE html>
<html xml:th="http://www.thymeleaf.org">
<!-- to use thymeleaf i need to add this <html xml:th="http://www.thymeleaf.org"> -->
<head>
<meta charset="utf-8" />
<!-- hear we tchang to <meta charset="utf-8"/> -->
<title>mon list</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style> 
.spacer{
margin-top: 40px;
}


</style>
</head>
<body>
<div class="container spacer">

	<table class="table table-striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>Nom</th>
				<th>Date</th>
				<th>Email</th>
				<th>Photo</th>
			</tr>
		</thead>

		<tbody>
			<tr th:each="e:${etudiant}">
				<td th:text="${e.id}"></td>
				<td th:text="${e.nom}"></td>
				<td th:text="${e.datenissance}"></td>
				<td th:text="${e.email}"></td>
				<td th:text="${e.photo}"></td>
			</tr>
		</tbody>
	</table>
	</div>
	
</body>
</html>