<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Home page</title>	
<link rel="stylesheet" type="text/css" 
href="../static/css/bootstrap.min.css"
th:href="@{css/bootstrap.min.css}"/>

<link rel="stylesheet" type="text/css" 
href="../static/css/style.css"
th:href="@{/css/style.css}"/>
</head>
<body>
<nav class="navbar navbar-light" style="background-color: #638cab; ">
  <div class="container">
  
  </div>
</nav>
 <div class="container" style="background-color: #e3f2fd; min-height:100vh">
 
<h3 class="title">home Page</h3>
 <p>Hello world</p>
 
</div>



</body>
</html>