<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>ajouter personne</title>
</head>
<body>
	<button>Creer une personne</button>
	<form th:action="@{addPerson}" th:object="${persoForm}" method="POST">
	Nom :
	<input type="text" th:field="*{nom}"/>
	<br/>
	age :
	<input type="text" th:field="*{age}"/>
	<br/>
	<input type="submit" value="Create"/>
	</form>
	<br/>
	<div th:if="${errorMessage}" th:utext="${errorMessage}"
         style="color:red;font-style:italic;">
         ...
      </div>
</body>
</html>