
<div class="spacer">

  <form class="form-inline my-2 my-lg-0" #f="ngForm" (ngSubmit)="onChercher(f.value)">
      <label style="margin:5px;">Mot clé :</label>
      <input (keyup)="onChercher(f.value)" class="form-control mr-sm-2" type="text" name="motCle" ngModel>
      <button type="submit" class="btn btn-outline-info my-2 my-sm-0"> <span class="glyphicon glyphicon-search"></span> Avions</button>
  </form>
</div>

<table class="table table-bordered table-hover spacer">
  <thead class="table-info">
    <tr role="row">
      <th class="sorting_asc">Model Avion</th>
       <th class="sorting">Id</th> 
       <th class="sorting">capacite</th>
       <th class="sorting">Site</th> 
       <th class="sorting"></th>
       <th class="sorting"></th>
    </tr>

  </thead>
  <tbody *ngIf="avions" style="background: #d7f1f5;">
      <tr role="row" class="odd" *ngFor="let a of avions._embedded.avions">
          <td class="sorting_1">{{a.model}}</td>
          <td>{{a.id}}</td>
          <td>{{a.capacite}}</td>
          <td>{{a.site}}</td>
          <td><button type="button" (click)="onUpdate(a)" class="btn btn-outline-primary">Editer</button>
          <td><button type="button" (click)="onDelete(a)" class="btn btn-outline-danger">Supprimer</button>
          </td>
      </tr>
      
    </tbody>
    
</table>
<ul class="nav nav-pills">
  <li [ngClass]="i==currentPage?'bg-info':''" class="nav-link table-bordered" *ngFor="let p of pages; let i=index" (click)="onPageAvions(i)">
    {{i}}
  </li>
</ul>

