<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  
</head>
<body>
      <!--================Top Header Area =================-->
      <div class="header_top_area">
          <div class="container">
              <div class="row">
                  <div class="col-lg-3">
                      <div class="top_header_left">
                          <div class="selector">
                              <select class="language_drop" name="countries" id="countries" style="width:300px;">
                                <option value='yt' data-image="img/icon/flag-1.png" data-imagecss="flag yt" data-title="English">English</option>
                                <option value='yu' data-image="img/icon/flag-1.png" data-imagecss="flag yu" data-title="Bangladesh">Francais</option>
                                <option value='yt' data-image="img/icon/flag-1.png" data-imagecss="flag yt" data-title="English">Espagnol</option>
                              </select>
                          </div>
                          <div class="compte">
                              <ul>  
                                <li><a routerLink="/login"> Mon Compte</a></li>
                                <li><a routerLink="/" >Mon Pannier</a></li>
                              </ul>
                          </div>
                          <!--   <div class="input-group">
                                <form class="form-inline">
                                 <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                             </form> 
                          </div>-->

                      </div>
                    </div>
                  </div>
               </div>
            </div>
</body>
</html>