<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	  <meta name="viewport" content="width=device-width, initial-scalle=1"/>
	  <title>Acceuil</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/app.css}"/>
      <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
      <link th:href="@{https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i}" rel="stylesheet"/>
      
	
	</head>

<body style="background-color: #eceff1">
	
	<div class="container" style="vertical-align: middle">
 
	  <h1 style=" display:block; padding-top:15%;   text-align: center;color:#263238; ; letter-spacing:3px; font-family: 'Roboto', sans-serif;font-size: 80px;text-shadow: #eceff1"> Gestion Du Vol</h1>
   
	           
	           
	           
	   <h4 style=" display:block; padding-top:5%;   text-align: left;color:#263238; ; letter-spacing:3px; font-family: 'Roboto', sans-serif;font-size: 24px;text-shadow: #eceff1"> Je suis Pilote:</h4>
	         
	         <form th:action= "@{/DetailPilote}" method="GET">
	            <div class="input-group mb-3">
	          
  				<input type="text" class="form-control" placeholder="Veuillez entrez votre ID" aria-label="Recipient's username" aria-describedby="button-addon2" style="width: 50px"/>
  				<div class="input-group-append">
    			<button  onclick="location.href='Pilote'" class="btn btn-outline-secondary" type="button" id="button-addon2">Valider</button>
  				</div>
			</div>
			
	         
	         
	         
	         </form>

			 <h4 style=" display:block; padding-top:5%;   text-align: left;color:#263238; ; letter-spacing:3px; font-family: 'Roboto', sans-serif;font-size: 24px;text-shadow: #eceff1"> Je suis Admin:</h4>
	          <div class="input-group mb-3">
	          
  				<input type="text" class="form-control" placeholder="Veuillez entrez votre ID" aria-label="Recipient's username" aria-describedby="button-addon2" style="width: 50px"/>
  				<div class="input-group-append">
    			<button onclick="location.href='Admin'" class="btn btn-outline-secondary" type="button" id="button-addon2">Valider</button>
  				</div>
			</div>
                                    
                                    
      
	</div>
	
	
	
</body>
</html>