<header class="header fixed-top mb-5">
  <!--
  *** TOPBAR ***
  _________________________________________________________
  [routerLink]="['/articles/all']"
  -->
  <div id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offer mb-3 mb-lg-0"> <!-- <a href="#" class="btn btn-success btn-sm"></a><a
            href="#" class="ml-1"></a>
            -->
            </div>
        <div class="col-lg-6 text-center text-lg-right">
          <ul class="menu list-inline mb-0">
              <li *ngIf="!authService.loginbtn" class="list-inline-item"><a class="clickable" (click)="onLogout()">Logout</a></li>
            <li *ngIf="authService.loginbtn" class="list-inline-item"><a [routerLink]="['/login']">Login</a></li>
            <li *ngIf="authService.loginbtn" class="list-inline-item"><a [routerLink]="['/register']">sign up</a></li>
            <li  class="list-inline-item"><a [routerLink]="['/contact']">Contact</a></li>
            <li class="list-inline-item"><a [routerLink]="['/profil']">profil</a></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- *** TOP BAR END ***-->

  </div>

  <nav class="navbar navbar-expand-lg">
    <div class="container"><a [routerLink]="['/home']" class="navbar-brand home"><img src="" alt="asmar logo"
          class="d-none d-md-inline-block"><img src="" alt="asmar logo"
          class="d-inline-block d-md-none"><span class="sr-only">Asmar homepage</span></a>
      <div class="navbar-buttons">
        <button (click)="showMenu()" [ngClass]="{'collapsed': show}" type="button" data-toggle="collapse" data-target="#navigation" aria-expanded="show"
          class="btn btn-outline-secondary navbar-toggler"><span class="sr-only">Toggle navigation</span><i
            class="fa fa-align-justify"></i></button>
        <button (click)="searchForm()" [ngClass]="{'collapsed': formSearch}" aria-expanded="formSearch" type="button" data-toggle="collapse" data-target="#search"
          class="btn btn-outline-secondary navbar-toggler"><span class="sr-only">Toggle search</span><i
            class="fa fa-search"></i></button><a href="basket.html" class="btn btn-outline-secondary navbar-toggler"><i
            class="fa fa-shopping-cart"></i></a>
      </div>
      <div [ngClass]="{'show': show}" id="navigation" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link" [routerLink]="[ '/home']" class="nav-link active">Home</a></li>


          <li class="nav-item dropdown menu-large"><a [routerLink]="['/articles/all']" data-toggle="dropdown" data-hover="dropdown"
              data-delay="200" class="dropdown-toggle nav-link">Categories<b class="caret"></b></a>


            <ul class="dropdown-menu" style="left: 520px;" aria-labelledby="dropdownMenu2">
                      <li class="dropdown-item"><a href="" class="nav-link">Trainers</a></li>
                      <li class="dropdown-item"><a href="" class="nav-link">Sandals</a></li>
                      <li class="dropdown-item"><a href="" class="nav-link">Hiking shoes</a></li>
            </ul>


          </li>

          <li class="nav-item dropdown menu-large"><a [routerLink]="[ '/admin-console']" data-toggle="dropdown" data-hover="dropdown"
                                                      data-delay="200" class="dropdown-toggle nav-link">Admin<b class="caret"></b></a>

            <ul class="dropdown-menu" style="left: 660px;" aria-labelledby="dropdownMenu2">
                      <li class="dropdown-item"><a class="nav-link"  [routerLink]="[ '/admin-console' ]" >Console Article</a></li>
                      <li class="dropdown-item"><a [routerLink]="[ '/ajouter-article']" class="nav-link">Ajouter </a></li>
                      <li class="dropdown-item"><a [routerLink]="[ '/editer-article/a']" class="nav-link">Modifier</a></li>
            </ul>


          </li>
        </ul>
        <div class="navbar-buttons d-flex justify-content-end">
          <!-- /.nav-collapse-->
          <div id="search-not-mobile" class="navbar-collapse"></div>
          <a style="display: none !important;" data-toggle="collapse" aria-expanded="formSearch" (click)="searchForm()" [ngClass]="{'collapsed': formSearch}" class="btn navbar-btn btn-primary d-none d-lg-inline-block clickable"><span class="sr-only">Toggle search</span><i class="fa fa-search"></i></a>
          <div id="basket-overview" class="navbar-collapse collapse d-none d-lg-block"><a [routerLink]="[ '/panier' ]"
              class="btn btn-primary navbar-btn"><i class="fa fa-shopping-cart"></i><span>0 items in cart</span></a>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <!-- <div id="search" [ngClass]="{'show': formSearch}" class="collapse animeForm">
    <div class="container">
      <form role="search" class="ml-auto">
        <div class="input-group">
          <input type="text" placeholder="Search" class="form-control">
          <div class="input-group-append">
            <button (click)="onChercher()" class="btn btn-primary"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div> -->
</header>
<br>
<div class="clear"></div>
