header {
    /* position: fixed; */
}

.clear {
    overflow:hidden;
    clear: both;
    margin: 60px;
}

.dropdown-menu {

}

.justify-content-center .dropdown-menu {
  left: 50% !important;
  transform: translateX(-50%) !important;
}
