<header class="header fixed-top mb-5">
  <!--
  *** TOPBAR ***
  _________________________________________________________
  -->
  <div id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offer mb-3 mb-lg-0"><a href="#" class="btn btn-success btn-sm">Offer of the day</a><a
            href="#" class="ml-1">Get flat 35% off on orders over $50!</a></div>
        <div class="col-lg-6 text-center text-lg-right">
          <ul class="menu list-inline mb-0">
              <li *ngIf="this.authService .logoutbtn" class="list-inline-item"><a class="clickable" (click)="onLogout()">Logout</a></li>
            <li *ngIf="this.authService.loginbtn" class="list-inline-item"><a routerLink="/login">Login</a></li>
            <li *ngIf="this.authService.loginbtn" class="list-inline-item"><a routerLink="/register">sign up</a></li>
            <li  class="list-inline-item"><a href="/">Contact</a></li>
            <li class="list-inline-item"><a href="#">Recently viewed</a></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- *** TOP BAR END ***-->

  </div>

  <nav class="navbar navbar-expand-lg">
    <div class="container"><a href="index.html" class="navbar-brand home"><img src="img/logo.png" alt="Obaju logo"
          class="d-none d-md-inline-block"><img src="img/logo-small.png" alt="Obaju logo"
          class="d-inline-block d-md-none"><span class="sr-only">Obaju - go to homepage</span></a>
      <div class="navbar-buttons">
        <button (click)="showMenu()" [ngClass]="{'collapsed': show}" type="button" data-toggle="collapse" data-target="#navigation" aria-expanded="show"
          class="btn btn-outline-secondary navbar-toggler"><span class="sr-only">Toggle navigation</span><i
            class="fa fa-align-justify"></i></button>
        <button (click)="searchForm()" [ngClass]="{'collapsed': formSearch}" aria-expanded="formSearch" type="button" data-toggle="collapse" data-target="#search"
          class="btn btn-outline-secondary navbar-toggler"><span class="sr-only">Toggle search</span><i
            class="fa fa-search"></i></button><a href="basket.html" class="btn btn-outline-secondary navbar-toggler"><i
            class="fa fa-shopping-cart"></i></a>
      </div>
      <div [ngClass]="{'show': show}" id="navigation" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link" [routerLink]="[ '/home']" class="nav-link active">Home</a></li>
          <li class="nav-item dropdown menu-large"><a href="#" data-toggle="dropdown" data-hover="dropdown"
              data-delay="200" class="dropdown-toggle nav-link">Men<b class="caret"></b></a>
            <ul class="dropdown-menu megamenu">
              <li>
                <div class="row">
                  <div class="col-md-6 col-lg-3">
                    <h5>Clothing</h5>
                    <ul class="list-unstyled mb-3">
                      <li class="nav-item"><a href="" class="nav-link">T-shirts</a></li>
                      <li class="nav-item"><a href="" class="nav-link">Shirts</a></li>
                      <li class="nav-item"><a href="" class="nav-link">Pants</a></li>
                      <li class="nav-item"><a href="" class="nav-link">Accessories</a></li>
                    </ul>
                  </div>
                  <div class="col-md-6 col-lg-3">
                    <h5>Shoes</h5>
                    <ul class="list-unstyled mb-3">
                      <li class="nav-item"><a href="" class="nav-link">Trainers</a></li>
                      <li class="nav-item"><a href="" class="nav-link">Sandals</a></li>
                      <li class="nav-item"><a href="" class="nav-link">Hiking shoes</a></li>
                      <li class="nav-item"><a href="" class="nav-link">Casual</a></li>
                    </ul>
                  </div>
                  <div class="col-md-6 col-lg-3">
                    <h5>Accessories</h5>
                    <ul class="list-unstyled mb-3">
                      <li class="nav-item"><a href="" class="nav-link">Trainers</a></li>
                      <li class="nav-item"><a href="" class="nav-link">Sandals</a></li>
                      <li class="nav-item"><a href="" class="nav-link">Hiking shoes</a></li>
                      <li class="nav-item"><a href="" class="nav-link">Casual</a></li>
                      <li class="nav-item"><a href="" class="nav-link">Hiking shoes</a></li>
                      <li class="nav-item"><a href="" class="nav-link">Casual</a></li>
                    </ul>      </div>      <div class="col-md-6 col-lg-3">
                    <h5>Featured</h5>
                    <ul class="list-unstyled mb-3">
                      <li class="nav-item"><a href="" class="nav-link">Trainers</a></li>
                      <li class="nav-item"><a href="" class="nav-link">Sandals</a></li>
                      <li class="nav-item"><a href="" class="nav-link">Hiking shoes</a></li>
                    </ul>
                    <h5>Looks and trends</h5>
                    <ul class="list-unstyled mb-3">
                      <li class="nav-item"><a href="" class="nav-link">Trainers</a></li>
                      <li class="nav-item"><a href="" class="nav-link">Sandals</a></li>
                      <li class="nav-item"><a href="" class="nav-link">Hiking shoes</a></li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown menu-large"><a [routerLink]="['/articles/all']" data-toggle="dropdown" data-hover="dropdown"
              data-delay="200" class="dropdown-toggle nav-link">Categories<b class="caret"></b></a>
            <ul class="dropdown-menu megamenu">
              <li>
                <div class="row">
                  <div class="col-md-6 col-lg-3">
                    <h5>Clothing</h5>
                    <ul class="list-unstyled mb-3">
                      <li class="nav-item"><a href="" class="nav-link">T-shirts</a></li>
                      <li class="nav-item"><a href="" class="nav-link">Shirts</a></li>
                      <li class="nav-item"><a href="" class="nav-link">Pants</a></li>
                      <li class="nav-item"><a href="" class="nav-link">Accessories</a></li>
                    </ul>
                  </div>
                  <div class="col-md-6 col-lg-3">
                    <h5>Shoes</h5>
                    <ul class="list-unstyled mb-3">
                      <li class="nav-item"><a href="" class="nav-link">Trainers</a></li>
                      <li class="nav-item"><a href="" class="nav-link">Sandals</a></li>
                      <li class="nav-item"><a href="" class="nav-link">Hiking shoes</a></li>
                      <li class="nav-item"><a href="" class="nav-link">Casual</a></li>
                    </ul>
                  </div>
                  <div class="col-md-6 col-lg-3">
                    <h5>Accessories</h5>
                    <ul class="list-unstyled mb-3">
                      <li class="nav-item"><a href="" class="nav-link">Trainers</a></li>
                      <li class="nav-item"><a href="" class="nav-link">Sandals</a></li>
                      <li class="nav-item"><a href="" class="nav-link">Hiking shoes</a></li>
                      <li class="nav-item"><a href="" class="nav-link">Casual</a></li>
                      <li class="nav-item"><a href="" class="nav-link">Hiking shoes</a></li>
                      <li class="nav-item"><a href="" class="nav-link">Casual</a></li>
                    </ul>
                    <h5>Looks and trends</h5>
                    <ul class="list-unstyled mb-3">
                      <li class="nav-item"><a href="" class="nav-link">Trainers</a></li>
                      <li class="nav-item"><a href="" class="nav-link">Sandals</a></li>
                      <li class="nav-item"><a href="" class="nav-link">Hiking shoes</a></li>
                    </ul>
                  </div>
                  <div class="col-md-6 col-lg-3">
                    <div class="banner"><a href="#"><img src="img/banner.jpg" alt="" class="img img-fluid"></a></div>
                    <div class="banner"><a href="#"><img src="img/banner2.jpg" alt="" class="img img-fluid"></a></div>
                  </div>
                </div>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown menu-large"><a [routerLink]="[ '/admin-console']" data-toggle="dropdown" data-hover="dropdown"
              data-delay="200" class="dropdown-toggle nav-link">Admin<b class="caret"></b></a>
            <ul class="dropdown-menu megamenu">
              <li>
                <div class="row">
                  <div class="col-md-6 col-lg-3">
                    <h5>Shop</h5>
                    <ul class="list-unstyled mb-3">
                      <li class="nav-item"><a class="nav-link"  [routerLink]="[ '/admin-console' ]" >Console Article</a></li>
                      <li class="nav-item"><a [routerLink]="[ '/ajouter-article']" class="nav-link">Ajouter </a></li>
                      <li class="nav-item"><a [routerLink]="[ '/editer-article/a']" class="nav-link">Modifier</a>
                      </li>
                      <li class="nav-item"><a href="" class="nav-link">Category - full width</a></li>
                      <li class="nav-item"><a [routerLink]="[ '/mailing' ]" class="nav-link">Enoyer un email</a></li>
                    </ul>
                  </div>
                  <div class="col-md-6 col-lg-3">
                    <h5>User</h5>
                    <ul class="list-unstyled mb-3">
                      <li class="nav-item"><a href="" class="nav-link">Register / login</a></li>
                      <li class="nav-item"><a href="" class="nav-link">Orders history</a></li>
                      <li class="nav-item"><a href="" class="nav-link">Order history detail</a></li>
                      <li class="nav-item"><a href="" class="nav-link">Wishlist</a></li>
                      <li class="nav-item"><a href="" class="nav-link">Customer account / change
                          password</a></li>
                    </ul>
                  </div>
                  <div class="col-md-6 col-lg-3">
                    <h5>Order process</h5>
                    <ul class="list-unstyled mb-3">
                      <li class="nav-item"><a href="" class="nav-link">Shopping cart</a></li>
                      <li class="nav-item"><a href="" class="nav-link">Checkout - step 1</a></li>
                      <li class="nav-item"><a href="" class="nav-link">Checkout - step 2</a></li>
                      <li class="nav-item"><a href="" class="nav-link">Checkout - step 3</a></li>
                      <li class="nav-item"><a href="" class="nav-link">Checkout - step 4</a></li>
                    </ul>
                    </div>
                  <div class="col-md-6 col-lg-3">
                    <h5>Pages and blog</h5>
                    <ul class="list-unstyled mb-3">
                      <li class="nav-item"><a href="" class="nav-link">Blog listing</a></li>
                      <li class="nav-item"><a href="" class="nav-link">Blog Post</a></li>
                      <li class="nav-item"><a href="" class="nav-link">FAQ</a></li>
                      <li class="nav-item"><a href="" class="nav-link">Text page</a></li>
                      <li class="nav-item"><a href="" class="nav-link">Text page - right sidebar</a></li>
                      <li class="nav-item"><a href="" class="nav-link">404 page</a></li>
                      <li class="nav-item"><a href="" class="nav-link">Contact</a></li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </li>
        </ul>
        <div class="navbar-buttons d-flex justify-content-end">
          <!-- /.nav-collapse-->
          <div id="search-not-mobile" class="navbar-collapse"></div>
          <a style="display: none !important;" data-toggle="collapse" aria-expanded="formSearch" (click)="searchForm()" [ngClass]="{'collapsed': formSearch}" class="btn navbar-btn btn-primary d-none d-lg-inline-block clickable"><span class="sr-only">Toggle search</span><i class="fa fa-search"></i></a>
          <div id="basket-overview" class="navbar-collapse collapse d-none d-lg-block"><a [routerLink]="[ '/panier' ]"
              class="btn btn-primary navbar-btn"><i class="fa fa-shopping-cart"></i><span>0 items in cart</span></a>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <!-- <div id="search" [ngClass]="{'show': formSearch}" class="collapse animeForm">
    <div class="container">
      <form role="search" class="ml-auto">
        <div class="input-group">
          <input type="text" placeholder="Search" class="form-control">
          <div class="input-group-append">
            <button (click)="onChercher()" class="btn btn-primary"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div> -->
</header>
<br>
<div class="clear"></div>
