<!-- 
<app-header></app-header>
<app-menu></app-menu>
<app-slide-area></app-slide-area> 
<app-articles></app-articles> -->
<router-outlet></router-outlet>


           <!--  <app-articles #articleC [hidden]="orderFinished"></app-articles> -->
     <!--    <div class="col-md-3">
            <app-pannier (onOrderFinished)=finishOrder($event) #pannierC
              [hidden]="orderFinished"></app-pannier>
        </div>
        <div class="col-md-6 offset-3">
            <app-commande #commandeC [hidden]="!orderFinished"></app-commande>
        </div>
 -->
