

<div class="col-md-6">
  <h2 class="text-center" >Add Avion</h2>
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <label for="constructeur">Constructeur</label>
      <div class="form-group">
        <input type="text" class="form-control" formControlName="constructeur" placeholder="constructeur" name="constructeur"  id="constructeur">
      </div>

      <div class="form-group">
        <label for="modele">Modele</label>
        <input type="text" class="form-control" placeholder="modele" formControlName="modele"  name="modele" id="modele">
      </div>

      <div class="form-group">
        <label for="capacite">Capacite</label>
        <input type="text" class="form-control" placeholder="capacite" formControlName="capacite" name="capacite" id="capacite">
      </div>

      <div class="form-group">
        <label for="site">Site</label>
        <input type="text" class="form-control" placeholder="site" formControlName="site" name="site" id="site">
      </div>

      <button class="btn btn-success">Update</button>
    </form>
</div>