

<div class="col-md-6" class="alert alert-info">
  <h2 class="text-center">Add Pilote</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" formControlName="name" placeholder="name" name="name" class="form-control" id="name">
    </div>

    <div class="form-group">
      <label for="site">Site</label>
      <input formControlName="site" placeholder="site" name="site" class="form-control" id="site">
    </div>
    <button class="btn btn-success">Update</button>
  </form>
</div>
