
<div class="alert alert-info" role="alert">
    <h1 class="btn btn-outline-info" class="text-center">Pilote</h1>
  </div>
  
  <table class=" table tabe-striped">
      <thead class=" table bg-info">
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Site</th>
             <th>Edit</th>
            <th>Delete</th>
        </tr>
      </thead>
      <tbody >
          <tr *ngFor=" let pilote of pilotes$ | async">
              <td class="table-secondary">{{pilote.id}}</td>
              <td>{{pilote.name}}</td>
              <td>{{pilote.site}}</td>
              <td> <button type="button" class="btn btn-danger" (click)="editPilote(pilote)" style="margin-left: 20px;"> Edit</button></td>
            <td> <button type="button" class="btn btn-danger"  (click)='deletePilote(pilote.id)'>Delete</button></td> 
          </tr> 
      </tbody>
    </table>
  
   
  <!--  <div *ngFor="let pilote of pilotes | async" style="width: 300px;">
    <details-pilote [pilote]='pilote'></details-pilote>
  </div>
   
  <div>
    <button type="button" class="button btn-danger" (click)='deletePilote()'>Delete All</button>
  </div>  -->
  
  