<div class="articles">
    <div class="container">
        <!-- search  -->
        <div id="search" class="animeForm">
            <div class="container">
              <form role="search" class="ml-auto" #f="ngForm" (ngSubmit)="onchercherArticlesCategoryForm(f.value)">
                <div class="input-group">
                  <input (keyup)="onchercherArticlesCategoryForm(f.value)" name="mc" type="text" placeholder="Search"
                    class="form-control" ngModel>
                  <div class="input-group-append">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <!-- end search -->

      <div class="col-lg-12">
          <!-- breadcrumb-->
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li aria-current="page" class="breadcrumb-item active">Categories</li>
            </ol>
          </nav>
        </div>

    <div class="row">
      <div class="col-lg-3" *ngIf="categories">

         <!-- sidbar -->
      <div class="card sidebar-menu mb-4">
          <div class="card-header">
            <h3 class="h4 card-title"> <li (click)="onchercherArticlesCategory('all')" class="clickable " >
               <a>Categories</a> </li></h3>
          </div>

          <div class="card-body">
            <ul class="nav nav-pills flex-column category-menu">
                <li  (click)="onchercherArticlesCategory('all')" [ngClass]="currentId=='all'?'active': ''"> <a class="nav-link">toutes les categories</a> </li>
               <li  *ngFor="let c of categories.content; let i = index"  class="" [ngClass]="currentId==c.id?'active': ''" (click)="onchercherArticlesCategory(c.id)">
                 <a  class="nav-link">{{c.name}}</a>
               </li>
            </ul>
          </div>
         </div>
   <!-- end sidbar -->

          <!-- <ul>
            <li class="clickable " [ngClass]="currentId=='all'?'active': ''" (click)="onchercherArticlesCategory('all')">
              <a>Toutes les Categories</a> </li>
              <li *ngFor="let c of categories.content; let i = index" class="clickable "
              [ngClass]="currentId==c.idCategory?'active': ''" (click)="onchercherArticlesCategory(c.idCategory)">
              <a>{{c.name}}</a> </li>

            </ul> -->

          </div>

      <div class="contenu col-lg-9">
         <!--
        <div class="row whith-media">

          <div class="" *ngIf="categories">

            <ul>

              <li class="clickable " [ngClass]="currentId=='all'?'active': ''"
                (click)="onchercherArticlesCategory('all')"> <a>Toutes les Categories</a> </li>
              <li *ngFor="let c of categories.content; let i = index" class="clickable "
                [ngClass]="currentId==c.idCategory?'active': ''" (click)="onchercherArticlesCategory(c.idCategory)">
                <a>{{c.name}}</a> </li>

            </ul>

          </div>

        </div>  -->




        <div class="row" *ngIf="articles">

          <div class="col-lg-4 col-md-6 product cart-produit" *ngFor="let article of articles.content; let i = index">

            <div class="animate make3D">
              <div class="product-front">
                <img  src="{{article.photo}}" alt="">
                <div class="image_overlay"></div>

                <div class="stats">
                  <div class="stats-container">
                    <span class="product_name">{{article.name}}</span>
                    <p>{{article.description}}</p>
                    <div class="product-options">
                      <div class="product_price">
                        <p>Prix<span class="">{{article.prix}} $</span></p>
                      </div>


                        <div (click)="ajouterArticlePanier(article)" class="btn btn-outline-success add_to_cart"> <i class="fa fa-shopping-cart"></i></div>
                        <div (click)="afficherArticle(article.id)" class="btn btn-outline-info view_gallery"><i class="fa fa-eye-slash"></i></div>
                      </div>

                  </div>
                </div>
              </div>
            </div>

            <br>


          </div>
        </div>

      </div>


    </div>

  </div>
