body {
}

.card.sidebar-menu.mb-4:hover {
  transform: none;
  /* min-width: 184px !important; */
  /* margin: auto !important; */
}
.card.sidebar-menu.mb-4 {
  /* position: fixed; */

 }
 li {
   list-style: none;
 }
 .card.sidebar-menu  ul li a:hover {
  /* position: relative; */
  /* font-weight: normal; */
  /* text-transform: none !important; */
  /* display: block; */
  /* padding: 10px 15px; */
  /* padding-left: 30px; */
  /* font-size: 0.738rem; */
  color: #52bfa8 !important;
  cursor: pointer;
 }
 .card.sidebar-menu ul li a {
  text-transform: capitalize;
  border-radius: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
 }

/* 
.sidbar.col-md-2 {
   margin-top: -11px;
  background:#ffffff;
  max-width: 170px !important;
}
.sidbar ul {
  /* color: #52bfa8; */
/* } */
 
 /* 
 .row .sidbar ul {
   position: fixed;
   left: 0;
   margin: 0 5px 0 0;
   padding: 0px 0px;
   box-sizing: border-box;
   min-height: 100vh;
   background:#ffffff;
   transition: 0.5s;
   /* overflow-y: auto; 
   width: 100%;
   max-width: 220px;
 
 }
  */


.icon {
  position: fixed !important;
  right: 20px;
  width: 50px;
  height: 50px;
  z-index: 100001;
  pointer-events: none;
}
.icon::before {
     content: 'close';
     position: absolute;
     right: 0;
     left: 0;
     bottom: 0;
     line-height: 50px;
     text-align: center;
     justify-content: center;
     text-transform: uppercase;

} 

/* 
input[type="checkbox"]:checked ~ .icon::before {
  content: 'menu';
} */
/* 
.whith-media ul {
  padding: 0px 0px;
  box-sizing: border-box;
  transition: 0.5s;
  /* overflow-y: auto; */
  /* width: 100%; */
  /* max-width: 760px;
}
 */
/* input[type="checkbox"]:checked ~ ul {
  left: -250px;

} */


/* input[type="checkbox"]:checked ~ .sidebar {
  width: 0 !important;

}
.contenu {

} 
.row .sidbar.col-md-2   {
  /* width: 20% !important; */
  /* margin-right: 20px; 
  padding-right: 10px;
  z-index: 10;


  }
  */
  .row .col-md-10 {
    /* margin: auto; */
    /* min-height: 100vh; */
    /* background: #eee7e7; */
  }
/* 

  .row .sidbar.col-md-2 ul li , .whith-media ul li{
    border: 1px solid #52bfa8;
    padding: 0;
    margin: 0;
  }

input[type="checkbox"]:checked ~ .contenu {
  width: 100% !important;
  background: blue !important;
}
input[type="checkbox"]:checked ~ .sidebar {
  width: 0 !important;
}



ul li , .whith-media ul li {
  list-style: none;
  /* color: #212529; 
  margin: auto;
  text-transform: uppercase;
  color: #555;
  font-size: 10px !important;
  overflow: hidden;
  
}
ul li a, .whith-media ul li a {
  display: block;
  padding: 10px;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 14px;
  transition: 0.5s;
  font-family: 'Roboto', sans-serif !important;
}

ul li a:hover {
  transform: translateX(1px);
  color:#827f7f;
} */
@media screen and (max-width: 921){
/* 
  .col-lg-3 {
    width: 768px !important;
    margin: auto;
  } */

}