<div id="all">
    <div id="content">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <!-- breadcrumb-->
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li aria-current="page" class="breadcrumb-item active">Shopping cart</li>
              </ol>
            </nav>
          </div>
          <div id="basket" class="col-lg-9">
            <div class="box">
              <form>
                <h1>Votre panier</h1>
                <p class="text-muted">Vous avez 0 article </p>
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th colspan="2">Produit</th>
                        <th>Nom</th>
                        <th>Quantity</th>
                        <th>Prix total</th>
                        <th colspan="2">supprimer</th>
                      </tr>
                    </thead>
                    <tbody *ngIf="items">

                      <tr  *ngFor="let a of items | keyvalue; let i = index">
                        <td><a ><img src="{{a.value.article.photo}}" alt="White Blouse Armani"></a></td>
                        <td><a >{{a.value.article.nom}}</a></td>
                        <td><a >{{a.value.article.description}}</a></td>
                        <td>
                          <input type="number" value="{{a.value.quantite}}" class="form-control">
                        </td>
                        <td>{{a.value.article.prix}} $</td>
                        <td><a (click)="supprimerArticlePanier(a.value.id)" class="clickable"><i class="fa fa-trash-o"></i></a></td>

                      </tr>

                    </tbody>
                    <tfoot>
                      <tr>
                        <th colspan="5">Total</th>
                        <th colspan="2">{{total}} $</th>
                      </tr>
                    </tfoot>
                  </table>
                </div>
                <!-- /.table-responsive-->
                <div class="box-footer d-flex justify-content-between flex-column flex-lg-row">
                  <div class="left"><a [routerLink]="'/articles'" class="btn btn-outline-secondary"><i class="fa fa-chevron-left"></i> aller vers articles</a></div>
                  <div class="right">
                    <button class="btn btn-outline-secondary"><i class="fa fa-refresh"></i> Actualiser </button>
                    <button type="submit" class="btn btn-primary">Passer la commande <i class="fa fa-chevron-right"></i></button>
                  </div>
                </div>
              </form>
            </div>
            <!-- /.box-->


          </div>
          <!-- /.col-lg-9-->
          <div class="col-lg-3">
            <div id="order-summary" class="box">
              <div class="box-header">
                <h3 class="mb-0">Détail de comande</h3>
              </div>
              <p class="text-muted"></p>
              <div class="table-responsive">
                <table class="table">
                  <tbody>
                    <tr>
                      <td>Total commande</td>
                      <th> 00 $</th>
                    </tr>

                    <tr>
                      <td>TVAs</td>
                      <th>$0.00</th>
                    </tr>
                    <tr class="total">
                      <td>Total</td>
                      <th>{{total}} $</th>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

          <!-- /.col-md-3-->
        </div>
      </div>
    </div>
  </div>
