<div class="col-md-6">
    <h2 class="text-center">Edit Vol</h2>
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()" >

     <div class="form-group">
        <label for="pilote">Pilote :</label>
        <input type="text" formControlName="pilote" placeholder="pilote" name="pilote" class="form-control" id="pilote">
      </div>
      <div class="form-group">
          <label for="pilote">Pilote :</label>
          <input type="text" formControlName="pilote" placeholder="pilote" name="pilote" class="form-control" id="pilote">
        </div>
      <div class="form-group">
        <label for="avion" >Avion</label>
        <input type="text"  formControlName="avion" placeholder="avion" name="avion" class="form-control" id="avion">
      </div>  

        <div class="form-group">
          <label for="depart">Site depart :</label>
          <input type="text" formControlName="depart" placeholder="Site Depart" name="depart" class="form-control" id="depart">
        </div>

        <div class="form-group">
            <label for="arrive">Site D'arrivée :</label>
            <input type="text" formControlName="arrive" placeholder="Site Arrive" name="arrive" class="form-control" id="arrive">
          </div>

  
      <div class="form-group">
        <label for="heured">Heure Départ:</label>
        <input type="text" formControlName="heured" placeholder="heure Depart" name="heured" class="form-control" id="heured">
      </div>

      <div class="form-group">
          <label for="heurea">Heure Arrivée</label>
          <input type="text" formControlName="heurea" placeholder="heure Arrive" name="heurea" class="form-control" id="heurea">
        </div>

      <button type="submit" class="btn btn-success">Update</button>
    </form>
  </div>