<div class="container page-100vh">

  <div id="search" class="animeForm">
    <div class="container">
      <form role="search" class="ml-auto" #f="ngForm" (ngSubmit)="onChercher(f.value)">
        <div class="input-group">
          <input  name="motCle" type="text" placeholder="Search" class="form-control" ngModel>
          <div class="input-group-append">
            <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="home-slide">

      <div class="slider">

        <div class="slide">
            <div class="content">

              <h4>Slider 1</h4>
              <p>Lorem ipsum dolor sit amet consectetur,nesciunt.</p>
            </div>
          <!-- <img src="assets/img/main-slider1.jpg" alt="" srcset=""> -->
        </div>

        <div class="slide">
            <div class="content">

              <h4>Slider 2</h4>
              <p>Lorem ipsum dolor sit amet consectetur,nesciunt.</p>

            </div>

          <!-- <img src="assets/img/main-slider2.jpg" alt="" srcset=""> -->

        </div>

        <div class="slide">
          <div class="content">

            <h4>Slider 3</h4>
            <p>Lorem ipsum dolor sit amet consectetur,nesciunt.</p>

          </div>

          <!-- <img src="assets/img/main-slider3.jpg" alt="" srcset=""> -->
        </div>

        <div class="slide">
            <div class="content">

              <h4>Slider 4</h4>
              <p>Lorem ipsum dolor sit amet consectetur,nesciunt.</p>

            </div>

          <!-- <img src="assets/img/main-slider4.jpg" alt="" srcset=""> -->

        </div>


        <div class="slide">
            <div class="content">

              <h4>Slider 5</h4>
              <p>Lorem ipsum dolor sit amet consectetur,nesciunt.</p>

            </div>

          <!-- <img src="assets/my1.jpg" alt="" srcset=""> -->

        </div>


      </div>


    </div>




   <br>
   <!-- <div id="advantages">
    <div class="container">
      <div class="row mb-4">
        <div class="col-md-4">
          <div class="box clickable d-flex flex-column justify-content-center mb-0 h-100">
            <div class="icon"><i class="fa fa-heart"></i></div>
            <h3><a href="#">We love our customers</a></h3>
            <p class="mb-0">We are known to provide best possible service ever</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box clickable d-flex flex-column justify-content-center mb-0 h-100">
            <div class="icon"><i class="fa fa-tags"></i></div>
            <h3><a href="#">Best prices</a></h3>
            <p class="mb-0">You can check that the height of the boxes adjust when longer text like this one is used in
              one of them.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box clickable d-flex flex-column justify-content-center mb-0 h-100">
            <div class="icon"><i class="fa fa-thumbs-up"></i></div>
            <h3><a href="#">100% satisfaction guaranteed</a></h3>
            <p class="mb-0">Free returns on everything for 3 months.</p>
          </div>
        </div>
      </div>

    </div>

  </div>   -->



  <div class="container-fluid" >
      <div class="row d-flex spacer" *ngIf="articles">



            <div class="product cart-produit" *ngFor="let article of articles.content; let i = index">

                <div class="animate make3D">
                  <div class="product-front">
                    <img  src="{{article.photo}}" alt="">
                    <div class="image_overlay"></div>

                    <div class="stats">
                      <div class="stats-container">
                        <span class="product_name">{{article.name}}</span>
                        <p>{{article.description}}.</p>


                        <div class="product-options">
                           <div class="product_price"><p>Prix<span class=""> {{article.prix}}$</span></p></div>
                           <div class="btn btn-outline-success add_to_cart"><i class="fa fa-shopping-cart"></i></div>
                           <div class="btn btn-outline-info view_gallery"><i class="fa fa-eye-slash"></i></div>
                        </div>
          </div>
          </div>
          </div>
          </div>

          </div>
  </div>


</div>
