<a class="btn btn-primary" routerLink="/">Back to List</a>

<div class="container">
    <p>CREATION DE PROFIL</p>
      <form [formGroup]="customerForm" (ngSubmit)="submitCustomerRegistration()" novalidate>
        <div *ngIf="validMessage != ''">
          <h3 class="has-info">{{validMessage}}</h3>
        </div>
        <div class="form-group">
            <label>Name :<input type="text" class="form-control" formControlName="name" required/></label>
         </div>
          <div class="form-group">
              <label>Login :<input type="text" class="form-control" formControlName="login" required/></label>
                </div>
                <div class="form-group">
                    <label>Password :<input type="text" class="form-control" formControlName="password" required/></label>
                 </div>
                 
          
           
        <button type="submit" class="btn btn-primary" >Submit</button>
      </form>
    </div>
