<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<link rel="stylesheet" type="text/css" th:href="@{/CSS/langue.css}" />

<!-- LIENS BOOTSTRAP CDN -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

</head>
<body>

<header>
          
          <nav class="navbar fixed-top navbar-expand-lg navbar-light">
          
            <a class="navbar-brand avatar" href="http://localhost:3030/boutiquedvd/api/admin/home" title="Retourner a la page d'accueil">ADMINISTRATEUR</a>

            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarTogglerDemo02"
              aria-controls="navbarTogglerDemo02"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
              <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                  <a class="nav-link" href="http://localhost:3030/boutiquedvd/api/admin/film"
                    >Film<span class="sr-only">(current)</span></a
                  >
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="http://localhost:3030/boutiquedvd/api/admin/client/">Client</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="http://localhost:3030/boutiquedvd/api/admin/catalogue/">Catégorie</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="http://localhost:3030/boutiquedvd/api/admin/langue/">Langage</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#">Commande</a>
                </li>
           
              </ul>
            </div>
          </nav>

        </header>


  <section class="mesSections anim">
          <article class="col" id="profession">
            <h1> <span>Bienvenue sur votre page administrateur</span>
            </h1>
          </article>
        </section>
        
        
        
        
        
        
        <section>
        
       <div class="container">
       
        <div class="row">
        
        
    <div class="col" id="formulaire">
    
 <form th:action="@{/boutiquedvd/api/admin/save/langue}" method="post">
    
  <div class="form-group">
    <label for="nom">Nom :</label>
    <input type="text" class="form-control" name="nom" id="nom" required>
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
   
    </div>
    
    
    
    <div class="col" id="tableau">
    
    <table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nom</th>
       <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  	<tr th:each="a : ${langue}">
						<td th:text="${a.getId()}" />
						<td th:text="${a.getNom()}" />
	
						<td>
							<button class="btn btn-danger btn-sm">

								<a
									th:href="@{http://localhost:3030/boutiquedvd/api/admin/delete/langue/(id=${a.getId()})}"
									onclick="return confirm(' vous confirmez la suppression ? ')" />
								Delete
							</button>

							<button class="btn btn-success btn-sm">

								<a
									th:href="@{http://localhost:3030/boutiquedvd/api/admin/edit/langue/(id=${a.getId()})}"
									onclick="return confirm(' vous confirmez la modification ? ')" />
								Update
							</button>


						</td>
					</tr>

  </tbody>
</table>
    
    </div>
    
  </div>
       
       </div>
        
        
        </section>
        

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>

</body>
</html>