<div class = "example-container">


<table mat-table *ngIf="dataSource" [dataSource]="dataSource"  class="table-hover">
 <ng-container matColumnDef = "id">
   <th mat-header-cell *matHeaderCellDef> id</th>
   <td mat-cell *matCellDef = "let element"> {{element.id}} </td>
   <td mat-footer-cell *matFooterCellDef>Total </td>
 </ng-container>
 <ng-container matColumnDef = "name">
   <th mat-header-cell *matHeaderCellDef>Name</th>
   <td mat-cell *matCellDef = "let element"> {{element.name}} </td>
   <td mat-footer-cell *matFooterCellDef> -- </td>
 </ng-container>
 <ng-container matColumnDef = "description">
   <th mat-header-cell *matHeaderCellDef>Description</th>
   <td mat-cell *matCellDef = "let element"> {{element.description}} </td>
   <td mat-footer-cell *matFooterCellDef> -- </td>
 </ng-container>
 <ng-container matColumnDef = "prix">
   <th mat-header-cell *matHeaderCellDef>Prix</th>
   <td mat-cell *matCellDef = "let element"> {{element.prix}} </td>
   <td mat-footer-cell *matFooterCellDef> -- </td>
 </ng-container>
 <ng-container cdkColumnDef ="disponible">
   <th mat-header-cell *matHeaderCellDef>Disponible</th>
   <td mat-cell *matCellDef = "let element"> {{element.disponible}} </td>
   <td mat-footer-cell *matFooterCellDef>
 </ng-container>
 <ng-container matColumnDef = "photo">
   <th cdk-header-cell *matHeaderCellDef>Photo</th>
   <td mat-cell *matCellDef = "let element"> {{element.photo}} </td>
   <td mat-footer-cell *matFooterCellDef>
 </ng-container>

  <ng-container matColumnDef = "delete">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef = "let element"><button mat-button style="margin-right: 60px;" color="warn" (click)="onDelete($event, element.id)"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
    <td mat-footer-cell *matFooterCellDef>
  </ng-container>



  <tr cdk-header-row *cdkHeaderRowDef="displayedColumns; sticky: true"></tr>
 <tr (click)="onUpdate($event, row.id)" mat-row *cdkRowDef = "let row; columns: displayedColumns;"></tr>
 <tr cdk-footer-row *cdkFooterRowDef="displayedColumns; sticky: true"></tr>

 <ng-container cdkColumnDef="paginator">
   <td cdk-footer-cell *cdkFooterCellDef [colSpan]="displayedColumns.length">

   </td>
 </ng-container>

 <tr cdk-footer-row *cdkFooterRowDef="['paginator']; sticky: true"></tr>
</table>

</div>



