
#homePage .tabs-left, .tabs-right {
    border-bottom: none;
    padding-top: 2px;
}
#homePage .tabs-left {
    border-right: 1px solid #ddd;
}
#homePage .tabs-right {
    border-left: 1px solid #ddd;
}
#homePage .tabs-left>li, .tabs-right>li {
    float: none;
    margin-bottom: 2px;
}
#homePage .tabs-left>li {
    margin-right: -1px;
}
#homePage .tabs-right>li {
    margin-left: -1px;
}
#homePage .tabs-left>li.active>a,
#homePage .tabs-left>li.active>a:hover,
#homePage .tabs-left>li.active>a:focus {
    border-bottom-color: #ddd;
    border-right-color: transparent;
    background-color: #337ab7;
    color: #ffffff;
}

#homePage .tabs-right>li.active>a,
#homePage .tabs-right>li.active>a:hover,
#homePage .tabs-right>li.active>a:focus {
    border-bottom: 1px solid #ddd;
    border-left-color: transparent;
}
#homePage .tabs-left>li>a {
    border-radius: 4px 0 0 4px;
    margin-right: 0;
    display:block;
}
#homePage .tabs-right>li>a {
    border-radius: 0 4px 4px 0;
    margin-right: 0;
}
#homePage .sideways {
    margin-top:50px;
    border: none;
    position: relative;
}
#homePage .sideways>li {
    height: 20px;
    width: 120px;
    margin-bottom: 100px;
}
#homePage .sideways>li>a {
    border-bottom: 1px solid #ddd;
    border-right-color: transparent;
    text-align: center;
    border-radius: 4px 4px 0px 0px;
}
#homePage .sideways>li.active>a,
#homePage .sideways>li.active>a:hover,
#homePage .sideways>li.active>a:focus {
    border-bottom-color: transparent;
    border-right-color: #ddd;
    border-left-color: #ddd;
}
#homePage .sideways.tabs-left {
    left: -50px;
}
#homePage .sideways.tabs-right {
    right: -50px;
}
#homePage .sideways.tabs-right>li {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
#homePage .sideways.tabs-left>li {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
#homePage .showTab{
    display: block !important;
}
#homePage .hideTab{
    display: none !important;
}
#homePage .button {
    border: none;
    color: white;
    padding: 10px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
  }
  #homePage .button2 {
    background-color: white; 
    color: black; 
    border: 1px solid #337ab7;
  }
  
  #homePage .button2:hover {
    background-color: #337ab7;
    color: white;
  }